<%= javascript_pack_tag 'get_suppliers' %>

<div class="container">
  <h1 class="mb-4">仕入編集</h1>
  <%= form_with(model: @purchase_record, local: true, class: 'mt-4') do |form| %>
    <% if @purchase_record.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@purchase_record.errors.count, "error") %> prohibited this purchase record from being saved:</h2>
        <ul>
          <% @purchase_record.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :purchase_date, '仕入日', class: 'form-label' %>
      <%= form.date_field :purchase_date, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :quantity, '仕入数', class: 'form-label' %>
      <div class="input-group">
        <%= form.number_field :quantity, class: 'form-control' %>
        <span class="input-group-text">個</span>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :product_id, '商品名', class: 'form-label' %>
      <%= form.collection_select :product_id, Product.all, :id, :name, { selected: @purchase_record.product_id }, { class: 'form-select' } %>
    </div>

    <div class="mb-3">
      <%= form.label :supplier_id, '業者名', class: 'form-label' %>
      <%= form.collection_select :supplier_id, Supplier.all, :id, :name, { selected: @purchase_record.supplier_id }, { class: 'form-select' } %>
    </div>

      <%= form.submit '仕入更新', class: 'btn btn-primary', data: { confirm: "商品の在庫数は変更されません。&#13;&#10;更新しますか？".html_safe } %>
      <%= link_to '戻る', purchase_records_path, class: 'btn btn-secondary', style: 'margin-left: 10px' %>
  <% end %>
</div>