<div class="d-flex justify-content-between mb-4">
  <h1 class="h3">仕入一覧</h1>
  <%= link_to '新規仕入登録', new_purchase_record_path, class: 'btn btn-primary' %>
</div>

<div class="card mb-2">
  <div class="card-body">
    <%= form_tag search_purchase_records_path, method: :get, class: 'mb-4' do %>
      <div class="row g-3">
        <div class="col-md-3 mb-1">
          <%= label_tag :purchase_date, "日付", class: 'form-label' %>
          <%= date_field_tag :purchase_date, params[:purchase_date], class: 'form-control' %>
        </div>

        <div class="col-md-3 mb-1">
          <%= label_tag :product_name, "商品名", class: 'form-label' %>
          <%= text_field_tag :product_name, params[:product_name], class: 'form-control' %>
          <div class="d-flex justify-content-start">
            <div class="form-check">
              <%= radio_button_tag :product_name_match_type, "forward", true, class: 'form-check-input' %>
              <%= label_tag :product_name_match_type_forward, "前方一致", class: 'form-check-label' %>
            </div>
            <div class="px-3"></div>
            <div class="form-check">
              <%= radio_button_tag :product_name_match_type, "partial", false, class: 'form-check-input' %>
              <%= label_tag :product_name_match_type_partial, "部分一致", class: 'form-check-label' %>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-1">
          <%= label_tag :supplier_name, "業者名", class: 'form-label' %>
          <%= text_field_tag :supplier_name, params[:supplier_name], class: 'form-control' %>
          <div class="d-flex justify-content-start">
            <div class="form-check">
              <%= radio_button_tag :supplier_name_match_type, "forward", true, class: 'form-check-input' %>
              <%= label_tag :supplier_name_match_type_forward, "前方一致", class: 'form-check-label' %>
            </div>
            <div class="px-3"></div>
            <div class="form-check">
              <%= radio_button_tag :supplier_name_match_type, "partial", false, class: 'form-check-input' %>
              <%= label_tag :supplier_name_match_type_partial, "部分一致", class: 'form-check-label' %>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-1">
          <%= label_tag :product_stock, "在庫数", class: 'form-label' %>
          <div class="input-group">
            <%= number_field_tag :product_stock, params[:product_stock], class: 'form-control' %>
            <span class="input-group-text">個より多い</span>
          </div>
        </div>

      </div>
    <%= submit_tag "検索", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>仕入日</th>
        <th>商品名</th>
        <th>仕入数</th>
        <th>業者名</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @purchase_records.each do |purchase_record| %>
        <tr>
          <td><%= link_to purchase_record.purchase_date, purchase_record_path(purchase_record), class: 'text-decoration-none' %></td>
          <td><%= link_to (purchase_record.product.present? ? purchase_record.product.name : "(削除済)"), purchase_record.product.present? ? product_path(purchase_record.product) : "#", class: 'text-decoration-none' %></td>
          <td><%= purchase_record.quantity.to_i.to_s(:delimited, delimiter: ',') %></td>
          <td><%= link_to (purchase_record.supplier.present? ? purchase_record.supplier.name : "(削除済)"), purchase_record.supplier.present? ? supplier_path(purchase_record.supplier) : "#", class: 'text-decoration-none' %></td>
          <td><%= link_to '編集', edit_purchase_record_path(purchase_record), class: 'btn btn-outline-primary btn-sm' %></td>
          <td><%= link_to '削除', purchase_record_path(purchase_record), method: :delete, data: { confirm: "商品の在庫数は変更されません。&#13;&#10;削除しますか？".html_safe }, class: 'btn btn-outline-danger btn-sm' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>