<h1 class="mb-4">仕入詳細</h1>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">仕入日</h5>
    <p class="card-text"><%= @purchase_record.purchase_date %></p>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">個数</h5>
    <p class="card-text"><%= @purchase_record.quantity %></p>
  </div>
</div>

<div class="card mb-3"">
  <div class="card-body">
    <h5 class="card-title">商品名</h5>
    <% unless @purchase_record.product == nil %>
      <%= link_to @purchase_record.product.name, product_path(@purchase_record.product), class:"btn btn-outline-primary" %>
    <% end %>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">業者名</h5>
    <% unless @purchase_record.supplier == nil%>
      <%= link_to @purchase_record.supplier.name, supplier_path(@purchase_record.supplier), class:"btn btn-outline-primary" %>
    <% end %>
  </div>
</div>

<%= link_to '編集', edit_purchase_record_path(@purchase_record), class: 'btn btn-primary' %>
<%= link_to '削除', purchase_record_path(@purchase_record), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger', style: 'margin-left: 10px' %>
<%= link_to '戻る', purchase_records_path, class: 'btn btn-secondary', style: 'margin-left: 10px' %>
