<p>商品名: <%= @product.name %></p>
<p>単価: <%= @product.price %>円</p>
<p>在庫数: <%= @product.stock %>個</p>
<p>業者名:
  <% @suppliers.each do |supplier| %>
    <%= link_to supplier.name, supplier_path(supplier) %>
    &nbsp;
  <% end %>
</p>
<%= link_to '編集', edit_product_path(@product) %>
<%= link_to '削除', product_path(@product), method: :delete, data: { confirm: '本当に削除しますか？' } %>