<h1>業者編集</h1>

<%= form_for(@supplier) do |f| %>
  <div class="form-group">
    <%= f.label :name, '業者名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :tel, '電話番号' %>
    <%= f.text_field :tel, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :product_ids, '取扱商品' %>
    <%= f.collection_select :product_ids, @products, :id, :name, {}, { multiple: true, class: 'form-control' } %>
  </div>

  <%= f.submit '更新', class: 'btn btn-primary' %>
<% end %>