<h1>業者一覧</h1>

<table>
  <thead>
    <tr>
      <th>業者名</th>
      <th>電話番号</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= link_to supplier.name, supplier_path(supplier) %></td>
        <td><%= supplier.tel %></td>
        <td><%= link_to '編集', edit_supplier_path(supplier) %></td>
        <td><%= link_to '削除', supplier_path(supplier), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新規登録', new_supplier_path %>