<p>業者名: <%= @supplier.name %></p>
<p>電話番号: <%= @supplier.tel %></p>
<p>取扱商品:
  <% @products.each do |product| %>
    <%= link_to product.name, product_path(product) %>
    &nbsp;
  <% end %>
</p>
<%= link_to '編集', edit_supplier_path(@supplier) %>
<%= link_to '削除', supplier_path(@supplier), method: :delete, data: { confirm: '本当に削除しますか？' } %>